.done {
  text-decoration: line-through;
  color: grey;
}
.container {
  padding-top: 20px;
}
.jumbotron {
  margin-bottom: 20px;
}
html {
  overflow-y: scroll;
}
body {
  padding-top: 50px;
}
#todo-list {
  margin-bottom: 30px;
}
#todo-form {
  margin-bottom: 50px;
}
